.cajablue {
	background-color: blue;
	width: 400px;
	height: 400px;
	position: relative;
	left: 60px;
	top: 80px;

}

.cajagreen {
	background-color: green;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 100px;
	top: 100px;
}

.cajablack {
	background-color: black;
	width: 100px;
	height: 100px;
	position: static;
	left: 98px;
	top: 108px;
}
